/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.0;
}

/* Navigation Bar: Logo and Image */

#logo {
    margin: 10px 34px;

}

#logo img {
    height: 50px;
    margin: 3px 15px;
    filter: invert(100%); 
    border-radius: 150px;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: rgb(197, 23, 23);
    display: block;
    padding: 3px 30px;
    margin: auto;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(20, 149, 200);
    
}

/*home section */

#home {

    height: 670px;
}

h1 {
    margin-top: 80px;
    text-align: center;
    color: burlywood;
}

h3 {
    text-align: center;
    color: burlywood;
}

.img {
    margin-left: 360px;
    margin-top: 70px;
    filter: invert(100%); 
}

/* About Us */

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    padding: 50px;
    margin: 2px 35px;
    border-radius: 28px;
    margin-bottom: 12px;
}

#services .box img {
    height: 200px;
    margin: auto 15px;
    display: block;
}
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 8px;
}

/* Register */

#Register {
    position: relative;
}

#Register::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;


}

#Register-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#Register-box input,
#Registert-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#Register-box form {
    width: 40%;
}

#Register-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#btn{
    text-align: center;
    background-color: burlywood;
    color: black;
    height: 50px;
    width: 160px;
    margin-left: 650px;
    border-radius: 9px;
}

#btn:hover{
    background-color: blueviolet;
    cursor: pointer;
    
}
/* Certificate */

#Certificate{
    text-align: center;
}

/*  footer*/
footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}